    .home {
    display: flex;
    background-color: #121212;
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    color: #e0e0e0;
}

.adminContainer {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    padding: 8px 14px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebarContainer {
    position: absolute;
    top: 0;
    left: -300px;
    width: 280px;
    height: 100%;
    background-color: #12132e;
    color: white;
    transition: left 0.3s ease;
    padding: 30px 25px;
    overflow: hidden;
    z-index: 200;
}

.sidebarContainer.active {
    left: 0;
}

.toggleBtn {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 300;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 50px 0 50px;
    width: 100%;
}

.loaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.loader {
    border: 8px solid rgba(255, 255, 255, 0.2);
    border-top: 10px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.addTaskBtn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 3;
    transition: background-color 0.3s ease;
}

.addTaskBtn:hover {
    background-color: #0056b3;
}